extends layout.pug

block content
  section#gtco-blog.bg-grey
    .container
      .section-content
        form(action='admin/posts' method='POST')
          .form-group
            label(for='inputTitle') Post Title
            input#inputTitle.form-control(type='text' name='title' placeholder='Enter Title')
          .form-group
            label(for='inputContent') Content
            textarea#inputContent.form-control(name='content' placeholder='Content' rows='16')
          button.btn.btn-primary(type='submit') Submit
          button.btn.btn-primary(type='button' onclick="location.href='/admin/logout'") Logout