extends layout

block content
  .jumbotron.d-flex.align-items-center(style='background-image: url(img/hero-2.jpg)')
    .container.text-center
      h1.display-2.mb-4 Contact Us!
      p
        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        br
        | Duis mollis, est non commodo luctus.
  // Contact Form Section
  section#gtco-contact-form.bg-white
    .container
      .section-content
        // Section Title
        .title-wrap
          h2.section-title Get In Touch
          p.section-sub-title
            | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
            br
            |  pharetra augue. Donec id elit non mi.
        // End of Section Title
        .row
          // Contact Form Holder
          .col-md-8.offset-md-2.contact-form-holder.mt-4
            form(method='post' name='contact-us' action='')
              .row
                .col-md-6.form-input
                  input#name.form-control(type='text' name='name' placeholder='Name')
                .col-md-6.form-input
                  input#email.form-control(type='text' name='email' placeholder='Email')
                .col-md-12.form-input
                  input#subject.form-control(type='text' name='subject' placeholder='Subject')
                .col-md-12.form-textarea
                  textarea#message.form-control(name='message' rows='6' placeholder='Your Message ...')
                .col-md-12.form-btn.text-center
                  button.btn.btn-block.btn-secondary.btn-red(type='submit' name='submit' onclick='return false;') Send Message
            #form-message-warning
            #form-message-success
              | Your message was sent, thank you!
          // End of Contact Form Holder
  // End of Contact Form Section