extends layout.pug

block content
  section#gtco-blog.bg-grey
    .container
      .section-content
        .title-wrap.mb-5
          h2.section-title
            | Latest 
            b posts
          p.section-sub-title Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        .row
          // Blog
          .col-md-12.blog-holder
            .row
              // Blog Item
              each post in dataObject
                .col-md-4.blog-item-wrapper
                  .blog-item
                    .blog-img
                      a(href='#')
                        img(src='img/blog-2.jpg' alt='')
                    .blog-text
                      .blog-title
                        a(href='#')
                          h4= post.title
                      .blog-meta
                        p.blog-date= post.created_at
                      .blog-desc
                        p= post.content
                      .blog-author
                        p by #{post.firstName + " " + post.lastName}