doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Moon - Multipurpose Bootstrap 4 Template by GetTemplates.co
  meta(name='description' content='Core HTML Project')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // External CSS
  link(rel='stylesheet' href='vendor/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='vendor/select2/select2.min.css')
  link(rel='stylesheet' href='vendor/owlcarousel/owl.carousel.min.css')
  link(rel='stylesheet' href='vendor/lightcase/lightcase.css')
  // Fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700' rel='stylesheet')
  // CSS
  link(rel='stylesheet' href='css/style.min.css')
  link(rel='stylesheet' href='https://cdn.linearicons.com/free/1.0.0/icon-font.min.css')
  // Modernizr JS for IE8 support of HTML5 elements and media queries
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js')
.boxed-page
  nav#gtco-header-navbar.navbar.navbar-expand-lg.py-4
    .container
      a.navbar-brand.d-flex.align-items-center(href='/')
        span.lnr.lnr-moon
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-nav-header' aria-controls='navbar-nav-header' aria-expanded='false' aria-label='Toggle navigation')
        span.lnr.lnr-menu
      #navbar-nav-header.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#home') Home
          li.nav-item
            a.nav-link(href='#who-we-are') Profile
          li.nav-item
            a.nav-link(href='#blog') Blog
          li.nav-item
            a.nav-link(href='#portfolio') Portfolio
          li.nav-item
            a.nav-link(href='#pricing') Pricing
          li.nav-item
            a.nav-link(href='contact.html') Contact
  .jumbotron.d-flex.align-items-center(style='background-image: url(img/hero-2.jpg)')
    .container.text-center
      h1.display-2.mb-4 Hello, world!
      p
        | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        br
        | Duis mollis, est non commodo luctus.
  section#gtco-who-we-are.bg-white
    .container
      .section-content
        .title-wrap
          h2.section-title
            | The easiest way 
            br
            | to build
            b  websites online
          p.section-sub-title
            | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a 
            br
            |  pharetra augue. Donec id elit non mi porta gravida at eget metus.
        .row.text-center
          .col-md-4.col-sm-6
            img.rounded-circle(src='icons/animat-checkmark.gif' alt='Generic placeholder image' width='140' height='140')
            h5.mb-4 Simple and Clean
            p
              | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-link(href='#' role='button') View details
          // /.col-md-4 col-sm-6
          .col-md-4.col-sm-6
            img.rounded-circle(src='icons/animat-customize.gif' alt='Generic placeholder image' width='140' height='140')
            h5.mb-4 Easy to Customize
            p
              | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis.
            p
              a.btn.btn-link(href='#' role='button') View details
          // /.col-md-4 col-sm-6
          .col-md-4.col-sm-6
            img.rounded-circle(src='icons/animat-responsive.gif' alt='Generic placeholder image' width='140' height='140')
            h5.mb-4 Fully Responsive
            p
              | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.
            p
              a.btn.btn-link(href='#' role='button') View details
          // /.col-md-4 col-sm-6
        // /.row
  // Counter Section
  section#gtco-counter.overlay.bg-fixed
    .container
      .section-content
        .row
          // Counter Item
          .col-md-3.col-sm-6.counter-item
            i.lnr.lnr-users
            span.number(data-from='0' data-to='34' data-refresh-interval='100') 14
            h4 Clients
          // End of Counter Item
          // Counter Item
          .col-md-3.col-sm-6.counter-item
            i.lnr.lnr-briefcase
            span.number(data-from='0' data-to='32' data-refresh-interval='100') 32
            h4 Projects
          // End of Counter Item
          // Counter Item
          .col-md-3.col-sm-6.counter-item
            i.lnr.lnr-heart
            span.number(data-from='0' data-to='38' data-refresh-interval='100') 38
            h4 Positive Feedbacks
          // End of Counter Item
          // Counter Item
          .col-md-3.col-sm-6.counter-item
            i.lnr.lnr-rocket
            span.number(data-from='0' data-to='29' data-refresh-interval='100') 29
            h4 Website Launch
          // End of Counter Item
  // End of Counter Section
  // Features Section
  section#gtco-features.bg-white
    .container
      .section-content
        // Section Title
        .title-wrap
          h2.section-title
            | All the  
            span need 
            | that you 
            span want
          p.section-sub-title
            | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
            br
            |  pharetra augue. Donec id elit non mi.
        // End of Section Title
        .row
          // Features Holder
          .col-md-12.features-holder
            .row
              // Features Item
              .col-md-4.col-sm-6.feature-item.item.mb-3.mb-3.text-center
                .my-4
                  i.lnr.lnr-cog.fs-40
                h4 Easy to Customize
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              // End of Feature Item
              // Features Item
              .col-md-4.col-sm-6.feature-item.item.mb-3.text-center
                .my-4
                  i.lnr.lnr-frame-contract.fs-40
                h4 Pixel Perfect
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              // End of Feature Item
              // Features Item
              .col-md-4.col-sm-6.feature-item.item.mb-3.text-center
                .my-4
                  i.lnr.lnr-bubble.fs-40
                h4 Full Support
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              // End of Feature Item
              // Features Item
              .col-md-4.col-sm-6.feature-item.item.mb-3.text-center
                .my-4
                  i.lnr.lnr-magic-wand.fs-40
                h4 Clean Design
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              // End of Feature Item
              // Features Item
              .col-md-4.col-sm-6.feature-item.item.mb-3.text-center
                .my-4
                  i.lnr.lnr-clock.fs-40
                h4 Ontime Project
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              // End of Feature Item
              // Features Item
              .col-md-4.col-sm-6.feature-item.item.mb-3.text-center
                .my-4
                  i.lnr.lnr-thumbs-up.fs-40
                h4 Built with SASS
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
              // End of Feature Item
          // End of Features Holder
  // End of Features Section
  section#gtco-section-featurettes.featurettes.bg-white
    .container
      .section-content
        .row
          .col-md-12.text-center
            // Section Title
            .title-wrap
              h2.section-title
                b Brand new
                |  social media,
                br
                |  different than any other one
              p.section-sub-title
                | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a 
                br
                | pharetra augue. Donec id elit non mi porta gravida at eget metus.
            // End of Section Title
            .featurettes-wrap.text-left.mb-4
              .row.featurettes-item
                .col-md-4.offset-md-2.col-sm-6
                  .my-5
                    span.lnr.lnr-camera.fs-40.color-primary
                  h4.mb-4 Capture every moments and share it to all your friends
                  p
                    | Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet.
                // / .col-md-4.col-md-offset-2.col-sm-6
                .col-md-4.offset-md-right-2.col-sm-6
                  img.my-5(src='img/app-profile-mockup.png' alt='')
                // / .col-md-4.col-md-offset-right-2.col-sm-6
              // / .featurettes-item
            // / .featurettes-wrap
            .featurettes-wrap.text-left
              .row.featurettes-item
                .col-md-4.offset-md-2.col-sm-6
                  img.my-4(src='img/app-chat-mockup.png' alt='')
                // / .col-md-4.col-md-offset-2.col-sm-6
                .col-md-4.offset-md-right-2.col-sm-6.mb-5
                  .my-4
                    span.lnr.lnr-bubble.fs-40.color-primary
                  h4.mb-4 Send private messages to your friend or make a chat group
                  p
                    | Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet.
                // / .col-md-4.col-md-offset-right-2.col-sm-6
              // / .featurettes-item
            // / .featurettes-wrap
            .featurettes-wrap.text-left
              .row.featurettes-item
                .col-md-4.offset-md-2.col-sm-6.offset-sm-0
                  h4.mb-4 Ready to join our App for your advance social experience?
                  p
                    | Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet.
                // / .col-md-4.col-md-offset-2.col-sm-6
                .col-md-4.offset-md-right-2.col-sm-6.text-center
                  a(href='#0')
                    img.btn-img.my-4(src='img/appstore-btn.png' alt='')
                  a(href='#0')
                    img.btn-img(src='img/playstore-btn.png' alt='')
                // / .col-md-4.col-md-offset-right-2.col-sm-6
              // / .featurettes-item
            // / .featurettes-wrap
          // / .col-md-12
        // / .row
    // / .container
  // Blog Section
  section#gtco-blog.bg-grey
    .container
      .section-content
        .title-wrap.mb-5
          h2.section-title
            | Latest 
            b news
          p.section-sub-title Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        .row
          // Blog
          .col-md-12.blog-holder
            .row
              // Blog Item
              .col-md-4.blog-item-wrapper
                .blog-item
                  .blog-img
                    a(href='single.html')
                      img(src='img/blog-1.jpg' alt='')
                  .blog-text
                    .blog-tag
                      a(href='#')
                        h6
                          small CODE
                    .blog-title
                      a(href='single.html')
                        h4 Amazing Blog Title
                    .blog-meta
                      p.blog-date 30 May 2016
                      |  /
                      p.blog-comment
                        a(href='') 23 Comments
                    .blog-desc
                      p
                        | Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.
                    .blog-author
                      p by John Doe
                    .blog-share-wrapper
                      a.blog-share(href='google.com')
                        i.fab.fa-facebook-square
                      a.blog-share(href='google.com')
                        i.fab.fa-twitter-square
              // End of Blog Item
              // Blog Item
              .col-md-4.blog-item-wrapper
                .blog-item
                  .blog-img
                    a(href='#')
                      img(src='img/blog-2.jpg' alt='')
                  .blog-text
                    .blog-tag
                      a(href='#')
                        h6
                          small SPORTS
                    .blog-title
                      a(href='#')
                        h4 Amazing Blog Title
                    .blog-meta
                      p.blog-date 30 May 2016
                      |  /
                      p.blog-comment
                        a(href='') 23 Comments
                    .blog-desc
                      p
                        | Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.
                    .blog-author
                      p by John Doe
                    .blog-share-wrapper
                      a.blog-share(href='google.com')
                        i.fab.fa-facebook-square
                      a.blog-share(href='google.com')
                        i.fab.fa-twitter-square
              // End of Blog Item
              // Blog Item
              .col-md-4.blog-item-wrapper
                .blog-item
                  .blog-img
                    a(href='#')
                      img(src='img/blog-3.jpg' alt='')
                  .blog-text
                    .blog-tag
                      a(href='#')
                        h6
                          small ECONOMY
                    .blog-title
                      a(href='#')
                        h4 Amazing Blog Title
                    .blog-meta
                      p.blog-date 30 May 2016
                      |  /
                      p.blog-comment
                        a(href='') 23 Comments
                    .blog-desc
                      p
                        | Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.
                    .blog-author
                      p by John Doe
                    .blog-share-wrapper
                      a.blog-share(href='google.com')
                        i.fab.fa-facebook-square
                      a.blog-share(href='google.com')
                        i.fab.fa-twitter-square
              // End of Blog Item
          // End of Blog
  // End of Blog Section
  // Portfolio Section
  section#gtco-portfolio.bg-white
    .container
      .section-content
        // Section Title
        .title-wrap
          h2.section-title
            | Our 
            b Awesome
            |  Works
          p.section-sub-title
            | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
            br
            |  pharetra augue. Donec id elit non mi.
        // End of Section Title
        .row
          // Portfolio Holder
          .col-md-12.portfolio-holder
            // Btn Filter
            .filter-button-group.btn-filter.d-flex.justify-content-center
              a.is-checked(tabindex='0' data-filter='*') Show All
              a(tabindex='0' data-filter='.minimalism') Minimalism
              a(tabindex='0' data-filter='.vintage') Vintage
              a(tabindex='0' data-filter='.creative') Creative
            // End of Btn Filter
            // Portfolio Content
            .grid-portfolio
              .grid-sizer
              .gutter-sizer
              // Portfolio Item
              .grid-item.minimalism
                .grid-item-wrapper
                  img.portfolio-item(src='img/photo-1.jpg' alt='portfolio-img')
                  .grid-info
                    .grid-link.d-flex.justify-content-center
                      a.img-pop(data-rel='lightcase' href='img/photo-1.jpg' title='Photo-1')
                        span.lnr.lnr-move
                      a.ext-link(href='http://unsplash.com/' target='_blank')
                        span.lnr.lnr-link
                    .grid-title
                      h4 Camera
              // End of Portfolio Item
              // Portfolio Item
              .grid-item.vintage
                .grid-item-wrapper
                  img.portfolio-item(src='img/photo-6.jpg' alt='portfolio-img')
                  .grid-info
                    .grid-link.d-flex.justify-content-center
                      a.img-pop(data-rel='lightcase' href='img/photo-6.jpg' title='Ship')
                        span.lnr.lnr-move
                      a.ext-link(href='http://unsplash.com/' target='_blank')
                        span.lnr.lnr-link
                    .grid-title
                      h4 Flower
              // End of Portfolio Item
              // Portfolio Item
              .grid-item.creative.grid-item-height
                .grid-item-wrapper
                  img.portfolio-item(src='img/photo-2.jpg' alt='portfolio-img')
                  .grid-info
                    .grid-link.d-flex.justify-content-center
                      a.img-pop(data-rel='lightcase' href='img/photo-2.jpg' title='Tracy Portrait')
                        span.lnr.lnr-move
                      a.ext-link(href='http://unsplash.com/' target='_blank')
                        span.lnr.lnr-link
                    .grid-title
                      h4 Breakfast
              // End of Portfolio Item
              // Portfolio Item
              .grid-item.creative
                .grid-item-wrapper
                  img.portfolio-item(src='img/photo-7.jpg' alt='portfolio-img')
                  .grid-info
                    .grid-link.d-flex.justify-content-center
                      a.img-pop(data-rel='lightcase' href='img/photo-7.jpg' title='Guitar')
                        span.lnr.lnr-move
                      a.ext-link(href='http://unsplash.com/' target='_blank')
                        span.lnr.lnr-link
                    .grid-title
                      h4 Chair
              // End of Portfolio Item
              // Portfolio Item
              //
                <div class="grid-item minimalism">
                <div class="grid-item-wrapper">
                <img src="img/photo-3.jpg" alt="portfolio-img" class="portfolio-item">
                <div class="grid-info">
                <div class="grid-link d-flex justify-content-center">
                <a class="img-pop" data-rel="lightcase" href="img/photo-3.jpg" title="Clock">
                <span class="lnr lnr-move"></span>
                </a>
                <a class="ext-link" href="http://unsplash.com/" target="_blank">
                <span class="lnr lnr-link"></span>
                </a>
                </div>
                <div class="grid-title">
                <h4>Clock</h4>
                </div>
                </div>
                </div>
                </div>
              // End of Portfolio Item
              // Portfolio Item
              .grid-item.vintage
                .grid-item-wrapper
                  img.portfolio-item(src='img/photo-4.jpg' alt='portfolio-img')
                  .grid-info
                    .grid-link.d-flex.justify-content-center
                      a.img-pop(data-rel='lightcase' href='img/photo-4.jpg' title='Bookself')
                        span.lnr.lnr-move
                      a.ext-link(href='http://unsplash.com/' target='_blank')
                        span.lnr.lnr-link
                    .grid-title
                      h4 Hidden Book
              // End of Portfolio Item
              // Portfolio Item
              .grid-item.creative
                .grid-item-wrapper
                  img.portfolio-item(src='img/photo-9.jpg' alt='portfolio-img')
                  .grid-info
                    .grid-link.d-flex.justify-content-center
                      a.img-pop(data-rel='lightcase' href='img/photo-9.jpg' title='Guitar')
                        span.lnr.lnr-move
                      a.ext-link(href='http://unsplash.com/' target='_blank')
                        span.lnr.lnr-link
                    .grid-title
                      h4 Red
              // End of Portfolio Item
            // End of Portfolio Content
          // End of Portfolio Holder
  // End of Portfolio Section
  section#gtco-pricing.bg-grey
    .container
      .section-content
        // Section Title
        .title-wrap
          h2.section-title Pricing
          p.section-sub-title
            | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
            br
            |  pharetra augue. Donec id elit non mi.
        // End of Section Title
        .card-deck.mb-3.text-center
          .price-box.card.mb-4.box-shadow
            .card-header.p-4
              h6.mb-0.text-orange.font-weight-bold BASIC
              h2.display-4.p-2.mb-0.font-weight-bold
                | 50
                small.align-top GB
              p.mb-0 Perfect for the beginning
            .card-body.p-4
              ul.price-box-list.list-unstyled.mt-3.mb-4
                li Unlimited Traffic
                li Full Platform Applications
                li Email support
              h2.card-title.pricing-card-title.mb-0.font-weight-bold $0,99
              p /month
              a.btn.btn-block.btn-secondary.btn-orange.mt-4(href='#') Buy Now
          .price-box.card.mb-4.box-shadow
            .card-header.p-4
              h6.mb-0.text-cyan.font-weight-bold PRO
              h2.display-4.p-2.mb-0.font-weight-bold
                | 250
                small.align-top GB
              p.mb-0 For Professionals
            .card-body.p-4
              ul.price-box-list.list-unstyled.mt-3.mb-4
                li 1 Domain Free
                li Unlimited Traffic
                li Full Platform Applications
                li Premium support
              h2.card-title.pricing-card-title.mb-0.font-weight-bold $4,99
              p /month
              a.btn.btn-block.btn-secondary.btn-cyan.mt-4(href='#') Buy Now
          .price-box.card.mb-4.box-shadow
            .card-header.p-4
              h6.mb-0.text-red.font-weight-bold PERFORMANCE
              h2.display-4.p-2.mb-0.font-weight-bold
                | 500
                small.align-top GB
              p.mb-0 For Business
            .card-body.p-4
              ul.price-box-list.list-unstyled.mt-3.mb-4
                li 1 Domain Free
                li Unlimited Traffic
                li Full Platform Applications
                li SSL Certificate
                li Premium support
              h2.card-title.pricing-card-title.mb-0.font-weight-bold $9,99
              p /month
              a.btn.btn-block.btn-secondary.btn-red.mt-4(href='#') Buy Now
    // /END PRICING
  // Client Section
  section#gtco-client.bg-white
    .container
      .section-content
        // Section Title
        .title-wrap
          h2.section-title
            | Who love to 
            b  work
            |  with us
        // End of Section Title
        .row
          .col-md-2
            // Client Item
            .client-item
              img.img-responsive(src='img/client-1.png' alt=' ')
            // End of Client Item
          .col-md-2
            // Client Item
            .client-item
              img.img-responsive(src='img/client-2.png' alt=' ')
            // End of Client Item
          .col-md-2
            // Client Item
            .client-item
              img.img-responsive(src='img/client-3.png' alt=' ')
            // End of Client Item
          .col-md-2
            // Client Item
            .client-item
              img.img-responsive(src='img/client-4.png' alt=' ')
            // End of Client Item
          .col-md-2
            // Client Item
            .client-item
              img.img-responsive(src='img/client-5.png' alt=' ')
            // End of Client Item
          .col-md-2
            // Client Item
            .client-item
              img.img-responsive(src='img/client-6.png' alt=' ')
            // End of Client Item
  // End of Client Section
  footer.mastfoot.mb-3.bg-white.py-4.border-top
    .inner.container
      .row
        .col-md-6.d-flex.align-items-center.justify-content-md-start.justify-content-center
          p.mb-0
            | &copy; 2019 Moon. All Right Reserved. Design by 
            a(href='https://gettemplates.co' target='_blank') GetTemplates.co
            | .
        .col-md-6
          nav.nav.nav-mastfoot.justify-content-md-end.justify-content-center
            a.nav-link(href='#')
              i.icon-facebook
            a.nav-link(href='#')
              i.icon-twitter
            a.nav-link(href='#')
              i.icon-instagram
            a.nav-link(href='#')
              i.icon-linkedin
            a.nav-link(href='#')
              i.icon-youtube
            a.nav-link(href='#')
              i.icon-pinterest
// External JS
script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
script(src='vendor/bootstrap/popper.min.js')
script(src='vendor/bootstrap/bootstrap.min.js')
script(src='vendor/select2/select2.min.js ')
script(src='vendor/owlcarousel/owl.carousel.min.js')
script(src='vendor/isotope/isotope.min.js')
script(src='vendor/lightcase/lightcase.js')
script(src='vendor/waypoints/waypoint.min.js')
script(src='vendor/countTo/jquery.countTo.js')
// Main JS
script(src='js/app.min.js ')

