doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title NodeJS + Express Blog Project
  meta(name='description' content='Core HTML Project')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // External CSS
  link(rel='stylesheet' href='vendor/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='vendor/select2/select2.min.css')
  link(rel='stylesheet' href='vendor/owlcarousel/owl.carousel.min.css')
  link(rel='stylesheet' href='vendor/lightcase/lightcase.css')
  // Fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700' rel='stylesheet')
  // CSS
  link(rel='stylesheet' href='css/style.min.css')
  link(rel='stylesheet' href='https://cdn.linearicons.com/free/1.0.0/icon-font.min.css')
  // Modernizr JS for IE8 support of HTML5 elements and media queries
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js')
.boxed-page
  nav#gtco-header-navbar.navbar.navbar-expand-lg.py-4
    .container
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar-nav-header' aria-controls='navbar-nav-header' aria-expanded='false' aria-label='Toggle navigation')
        span.lnr.lnr-menu
      #navbar-nav-header.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/contact') Contact
          li.nav-item
            a.nav-link(href='/login') Log In
  block content
  footer.mastfoot.mb-3.bg-white.py-4.border-top
    .inner.container
      .row
        .col-md-6.d-flex.align-items-center.justify-content-md-start.justify-content-center
        .col-md-6
          nav.nav.nav-mastfoot.justify-content-md-end.justify-content-center
            a.nav-link(href='#')
              i.icon-facebook
            a.nav-link(href='#')
              i.icon-twitter
            a.nav-link(href='#')
              i.icon-instagram
            a.nav-link(href='#')
              i.icon-linkedin
            a.nav-link(href='#')
              i.icon-youtube
            a.nav-link(href='#')
              i.icon-pinterest
// External JS
script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js')
script(src='vendor/bootstrap/popper.min.js')
script(src='vendor/bootstrap/bootstrap.min.js')
script(src='vendor/select2/select2.min.js ')
script(src='vendor/owlcarousel/owl.carousel.min.js')
script(src='vendor/isotope/isotope.min.js')
script(src='vendor/lightcase/lightcase.js')
script(src='vendor/waypoints/waypoint.min.js')
script(src='vendor/countTo/jquery.countTo.js')
// Main JS
script(src='js/app.min.js ')

