extends layout.pug

block content
  .login-form
    h1 Administrator Area
    form(method='POST')
      input(type='text' name='email' placeholder='Email' required='')
      input(type='password' name='password' placeholder='Password' required='')
      if dataObject
        p= dataObject
      input(type='submit' value='Login')
    br
    button#register-button(onclick="window.location.href = '/register';") Register
